* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans';
  color: black;
  background-color: #fbfbfb;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.main-dashboard {
  flex: 1;
  display: flex;
}

/* Boutons Globaux */
.btn-primary {
  background: #15b7e4;
  color: #fbfbfb;
  border: none;
  padding: 12px 30px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
  display: inline-block;
  font-weight: 500;
}

.btn-primary:hover {
  background: #1198be;
}

.btn-secondary {
  background: transparent;
  color: #15b7e4;
  border: 2px solid #15b7e4;
  padding: 10px 25px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: 500;
}

.btn-secondary:hover {
  background: #1198be;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
